<div class="clearfix">
  <%- form.label("content") %>
  <div class="input">
    <%- form.input("content") %>
  </div>
</div>
<div class="clearfix">
  <%- form.label("done") %>
  <div class="input">
    <%- form.input("done") %>
  </div>
</div>
