<div class="page-header">
  <h1>Edit todo</h1>
</div>

<% form_for(todo, {action: path_to.todo(todo), method: 'PUT', id: "todo_form"}, function (form) { %>
  <%- partial('todos/form.ejs', {locals: {form: form, todo: todo}}) %>
  <div class="actions">
    <%- form.submit('Update todo', {class: 'btn primary'}) %> or
    <%- link_to('Cancel', path_to.todo(todo), {class: 'btn'}) %>
  </div>
<% });%>
