<div class="page-header">
  <h1>New todo</h1>
</div>

<% form_for(todo, {action: path_to.todos, method: 'POST', id: "todo_form"}, function (form) { %>
  <%- partial('todos/form.ejs', {locals: {form: form, todo: todo}}) %>
  <div class="actions">
    <%- form.submit('Create todo', {class: 'btn primary'}) %> or
    <%- link_to('Cancel', path_to.todos, {class: 'btn'}) %>
  </div>
<% });%>
