/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

/* body.deck-container { */
/* div.content { */

/*
section.slide {
	background-image: url(../images/parsonslogo.jpg) !important;
	background-repeat: no-repeat !important;
	background-position: 100% 0 !important;
	background-origin: content-box;
}
*/
section.slide.deck-current.long-list ul {
	list-style-type: none;
	display: inline;
}
section.slide.deck-current.long-list li {
	margin: 10px 35px;
}